@import 'vars';

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 5em;
}

@media (max-width: 640px) {
  .ProductList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}